<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메일별 송수신 현황</title>
    <style>
        * {
          font-family: 맑은 고딕, 돋움, 굴림;
          font-size: 12px;
          box-sizing: border-box;
          color: rgb(77, 75, 75);
        }
        .head {
          height: 20px;
          color: #FFFFFF;
          background-color: #000000;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px;
        }

        .data {
          height: 20px;
          color: #000000;
          background-color: #FFFFFF;
          border-bottom:1px solid #000000;
          text-align: center;
          vertical-align: middle;
        }
        .button {
          border: none;
          color: black;
          width: 150px;
          padding: 2px 2px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 10px;
          margin: 4px 4px;
          cursor: pointer;
          background-color: #FFFF99;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

    </script>
</head>
<body>
    <div style="font-size:30px;text-align:left;margin-top:30px;">
        □ {{ attachment|truncatechars:10 }} : 상세 정보
    </div>

    <div style="font-size:15px;text-align:right">
        {{ now }}
    </div>

    <form id="add_new_code" action="{% url 'MDCheckerPension'%}" method="post" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
        <div style="margin-left: 50px">
            <table>
                <tr>
                    <td class="head" style="text-align:center; width:700px;">현장명p</td>
                    <td class="head" style="text-align:center; width:200px;">업체명p</td>
                    <td class="head" style="text-align:center; width:200px;">공제가입번호</td>
                    <td class="head" style="text-align:center; width:100px;">수정일</td>
                    <td class="head" style="text-align:center; width:100px;">확정일수</td>
                    <td class="head" style="text-align:center; width:100px;">인원수</td>
                    <td class="head" style="text-align:center; width:300px;">send_date</td>
                    <td class="head" style="text-align:center; width:200px;">현장코드</td>
                </tr>
                {% if pension %}
                {% for i in pension %}
                    <tr>
                        <td class="data" style="text-align:left">{{i.현장명p}}</td>
                        <td class="data" style="text-align:center">{{i.업체명p}}</td>
                        <td class="data" style="text-align:center">{{i.공제가입번호}}</td>
                        <td class="data" style="text-align:center">{{i.수정일}}</td>
                        <td class="data" style="text-align:right">{{i.확정일수}}</td>
                        <td class="data" style="text-align:right">{{i.인원수}}</td>
                        <td class="data" style="text-align:center">{{i.send_date}}</td>
                        {% if forloop.counter == 1 %}
                            <td class="data" style="text-align:center" rowspan="{{pension|length}}">
                                {% if site_code %}
                                    {{ site_code }}
                                {% else %}
                                    <input id="site_code" type="text" name="site_code" placeholder="Site Code.." oninput="this.value = this.value.toUpperCase()"/>
                                    <input name="attachment" type="hidden" value="{{attachment}}"/>
                                    <br><br>
                                    <input type="submit" value="입력"/>
                                {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </form>

    <div style="font-size:30px;text-align:left;margin-top:50px;">
        □ {{ attachment|truncatechars:10 }} : 현장 송부 결과
        <div style="float: right;">
            <br>
            <input type="button" value="::: 협력업체 매칭 리스트 등록 :::"
                   onclick="window.open({% url 'MDCheckerSubcon' %},'협력업체 매칭테이블', 'top=100,left=400,width=600,height=900')" />
        </div>
    </div>

    <div style="font-size:15px;text-align:right">
        {{ now }}
    </div>
    <div style="margin-left:50px;">
        <table>
            <tr>
                <td class="head" style="text-align:center; width:100px;" rowspan="2">분석월</td>
                <td class="head" style="text-align:center; width:100px;" rowspan="2">구분</td>
                <td class="head" style="text-align:center; width:700px;" rowspan="2">현장명p</td>
                <td class="head" style="text-align:center; width:300px;" rowspan="2">업체명</td>
                <td class="head" style="text-align:center; width:300px;" colspan="3">당사 전자 작업일보 (HPMS/HCM, Easy 작업일보)</td>
                <td class="head" style="text-align:center; width:100px;">공제회</td>
                <td class="head" style="text-align:center; width:100px;" rowspan="2">대비</td>
                <td class="head" style="text-align:center; width:200px;" rowspan="2">비고</td>
            </tr>
            <tr>
                <td class="head" style="text-align:center; width:100px;">출역일수</td>
                <td class="head" style="text-align:center; width:100px;">소장출역</td>
                <td class="head" style="text-align:center; width:100px;">직원출역</td>
                <td class="head" style="text-align:center; width:100px;">확정일수</td>
            </tr>
            {% if result %}
                {% regroup result by 분석월 as result_by_month %}
                    {% for data0 in result_by_month %}
                        {% regroup data0.list by 구분 as data0_by_구분 %}
                            {% for data1 in data0_by_구분 %}
                                {% for i in data1.list %}
                                    <tr>
                                        {% if forloop.first %}
                                            {% if forloop.parentloop.first %}
                                                <td class="data" style="text-align:center" rowspan="{{data0.list|length}}">{{data0.grouper}}</td>
                                            {% endif %}
                                            <td class="data" style="text-align:center" rowspan="{{data1.list|length}}">{{data1.grouper}}</td>
                                        {% endif %}
                                        <td class="data" style="text-align:left">{{i.현장명p}}</td>
                                        <td class="data" style="text-align:center">{{i.업체명}}</td>
                                        <td class="data" style="text-align:right">{{i.출역일수}}</td>
                                        <td class="data" style="text-align:right">{{i.소장출역}}</td>
                                        <td class="data" style="text-align:right">{{i.직원출역}}</td>
                                        <td class="data" style="text-align:right">{{i.확정일수}}</td>
                                        <td class="data" style="text-align:center">{{i.대비}}</td>
                                        <td class="data" style="text-align:center">{{i.비고}}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                    {% endfor %}
            {% else %}
                <tr>
                    <td class="data" style="text-align:left" colspan="10">데이터가 없거나, 입력하셨다면 다음 처리시 반영됩니다.</td>
                </tr>
            {% endif %}
        </table>
    </div>
</body>
</html>